* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border-top: 20px solid blue;
}

.container {
    width: 70%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
    color: grey;
}

h1,
h2,
h3 {
    color: rgb(61, 109, 153);
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
    margin-left: 10px;
}

.main-header {
    background-color: rgb(231, 231, 231);
    margin-bottom: 60px;
}

.navbar {
    text-transform: uppercase;
    text-align: center;
}

.navbar a {
    display: inline-block;
    margin-right: 30px;
    flex-wrap: nowrap;
}

.post-header {
    margin-bottom: 20px;
}

.post-img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
    position: relative
}

h2::after {
    content: "TOP";
    color: black;
    font-weight: bold;
    background-color: rgb(255, 217, 0);
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    position: absolute;
    top: -5px;
    right: -25px;
}

h3 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h4 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.author {
    font-style: italic;
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
}

li {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}

#copyright {
    font-size: 16px;
}

ul,
ol {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

aside {
    background-color: rgb(231, 231, 231);
    border-top: 5px solid rgb(0, 195, 255);
    border-bottom: 5px solid rgb(0, 195, 255);
    padding-top: 40px;
}

li:first-child {
    font-weight: bold;
}

/* L V H A */

a:link {
    color: rgb(61, 109, 153);
    text-decoration: none;
}

a:visited {
    color: rgb(61, 109, 153);
}

a:hover {
    color: greenyellow;
    font-weight: bold;
    text-decoration: underline greenyellow;
}

a:active {
    background-color: blue;
    font-style: italic;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
    margin: 0;
}

.like {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1::first-letter {
    font-size: 40px;
    font-style: normal;
    margin-right: 20px;
}

.paragraphs p:first-child::first-letter {
    font-size: 30px;
    color: rgb(61, 109, 153);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.author-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.related-post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}

.related-link {
    font-size: 17px;
    font-weight: bold;
}

.related-author {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

article{
    flex: 0 1 80%;
    margin-right: 40px;
}

aside {
    flex: 15%;
    padding: 30px;
}