* {
    margin: 0;
    padding: 0;
}

body {
    border-top: 20px solid blue;
}

h1,
h2,
h3,
h4,
p,
li {
    font-family: sans-serif;
    color: grey;
}

h1,
h2,
h3 {
    color: rgb(61, 109, 153);
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h4 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

li {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}

.main-header {
    background-color: rgb(231, 231, 231);
    padding: 40px;
    margin-bottom: 60px;
}
.post-header {
    margin-bottom: 20px;
}

ul, ol
{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

aside {
    background-color: rgb(231, 231, 231);
    border-top: 5px solid rgb(0, 195, 255);
    border-bottom: 5px solid rgb(0, 195, 255);
    padding-top: 40px;
}

li:first-child {
    font-weight: bold;
}


/* L V H A */
a:link {
    color: rgb(61, 109, 153);
    text-decoration: none;
}

a:visited {
    color: rgb(61, 109, 153);
}

a:hover {
    color: greenyellow;
    font-weight: bold;
    text-decoration: underline greenyellow;
}

a:active {
    background-color: blue;
    font-style: italic;
}

.navbar {
    text-transform: uppercase;
}
